html,
body {
  width: 100%;
  background-color: #00B4EF;
}

.container {
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.container form .form-group:first-child {
  border-bottom: 1px solid #F0F0F0;
}
.container form .form-group > h2 {
  font-weight: bold;
}
